{% extends "base.html" %}
{% block headtitle %}
博客系统
{% endblock %}
{% block selfcss%} 
    <link href="../static/libs/css/index.css" rel="stylesheet">
{% endblock %}
{% block mainbody %}
    <h1 class="page-header">博客首页<small> 博客首页</small></h1>
        <p>内容列表</p>
        <div class="row">
            <div class='col-md-12' >
                <button class="btn btn-warning" id="btnaddblog" style="float:right" >新增</button>
            </div>
        </div>
        <div class="row" id="bloglist">
    </div>
{% endblock %}

{% block selfjs %}
<script src="../static/libs/js/index.js"></script>
{% endblock %}



<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="witdh=device-width, initial-scale=1.0">
    <title>博客系统</title>
    <link href="../static/libs/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../static/libs/css/index.css" rel="stylesheet"> -->
    <!--[if lt IE 9]>
    <script src="./libs/plugins/html5shiv-master/dist/html5shiv.js"></script>
    <![endif]-->
<!-- </head>
<body>
<div class="container">
    <h1 class="page-header">博客首页<small> 博客首页</small></h1>
    <p>内容列表</p>
    <div class="row">
        <div class='col-md-12' >
            <button class="btn btn-warning" id="btnaddblog" style="float:right" >新增</button>
        </div>
    </div>
    <div class="row" id="bloglist">
        
    </div>
</div>
<script src="../static/libs/node_modules/jquery/dist/jquery.js"></script>
<script src="../static/libs/node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../static/libs/js/index.js"></script>
</body>
</html> -->
