{% extends "base.html" %}
{% block headtitle %}
用户注册
{% endblock %}
{% block selfcss%} 
    <link href="../static/libs/css/login.css" rel="stylesheet">
{% endblock %}
{% block mainbody %}
    <h1 class="page-header">登陆<small> 用户 </small></h1>
    <div class="col-xs-6 col-md-4 col-center-block">
    <form class="form-horizontal" role="form" action="/login" method="POST" id="logform">
        <div class="form-group">
            <label for="username" class="control-label">用户名</label>
            <div class="">
                <input type="text" class="form-control" id="username" name="username" placeholder="请输入用户名">
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="control-label">密码</label>
            <div class="">
                <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info">登陆</button>
                    <button type="button" class="btn btn-info" id="goindexbtn">回主页</button>
                </div>
            </div>
            </div>
        </div>
    </form>
    </div>
    <div id="logresult"></div>
    <div id="token"></div>
{% endblock %}
    
{% block selfjs %}
<script src="../static/libs/js/login.js"></script>
{% endblock %}